@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: 'Inter';
    
}


.darkBackGround{
background-color: #1F2937;

}


.Header{
    display: flex;
    justify-content: space-around;

}

.headerLogo{
    color: #F9FAF8;
    font-size: 18px;
    align-items: center;
    font-weight: 500;
}

.headerLinks ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 15px;
}