@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: 'Inter';
    
}


.darkBackGround{
background-color: #1F2937;

}


.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.headerLogo{
    display: flex;
    color: #F9FAF8;
    font-size: 18px;
    align-items: center;
    font-weight: 500;
    gap: 10px;
}



.headerLinks ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    color:#E5E7EB;
    font-size:14px;
}

.middle{
    display: flex;
}

.leftMiddle{
    display: flex;
    flex-direction: column;
}

.middleHeader{
    font-size: 42px;
    font-weight: bolder;
    color: #F9FAF8;
}

.middleText{
    font-size: 12px;
    font-weight: bolder;
    color: #E5E7EB;
}

