@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    display: flex;
    flex-direction: column;
   
    margin:0;
    padding: 0;
    font-family: 'Inter';
    
}

/* 1st Middle Section/Header */ 

.darkBackGround{
background-color: #1F2937;

}


.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


.headerLogo{
    display: flex;
    color: #F9FAF8;
    font-size: 19px;
    align-items: center;
    font-weight: 500;
    gap: 10px;
}

.headerLinks ul{
    display: flex;
    list-style: none;
  

    gap: 15px;

    color:#E5E7EB;
    font-size:14px;
}



/* Middle */
.middle{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 80px;
    
}

.leftMiddle{
    
    display: flex;
    flex-direction: column;
    
    
}



.middleHeader{
    font-size: 17px;
    font-weight: bolder;
    color: #F9FAF8;
  
    
}



.middleText{
    font-size: 14px;
    font-weight: bolder;
    color: #E5E7EB;
    max-width: 320px;
    margin-top: -25px;
    
}

.middleButton{
    background-color: #3882F6;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 6px 25px;
    border: black solid 1px;
}

/* 2nd Middle Section */ 

.nextMiddle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.infoHeader{
    color: #1F2937;
    font-weight: bolder;
    padding: 20px;
}

.nextMiddleImages{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.imageIllus{
    display: flex;
    flex-direction: column;
  
}

.imageIllus img{
    height: 150px; 
    width: 150px;
    border-radius: 15px;
    border: #3882F6 solid 3px;
} 

.imageIllus p{
   text-align: center;
   font-size: 13px;
   max-width: 150px;
} 

.rightImage{
    border: black solid 2px;
}


/* last Section */ 

.lastSection{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 60px 15px;
    background: #E5E7EB;
  
}

#quoteBox{
    display: flex;
    flex-direction: column;
    
}

#quote{
    font-weight: 0;
    color: #1c222b;
    font-size: 12px;
    max-width: 600px;
    
}

#quoteAuthor{
 
   text-align: right;
   
}



/* second last Section*/
.nextLastSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 15px;
}

#blueBox{
    
    background-color: #3882F6;
    display: flex;
    justify-content:space-between;
    width: 900px;
    padding: 40px;
    border-radius: 7px;
}


.b1 h6{
    color:#F9FAF8;
    margin: 0;
    font-size: 16px;
    
}
.b1{
    padding: 0 15px;
}

.b1 div{
    color:#E5E7EB;
    font-size: 9px;
    
}

.b2{
    background: transparent;
    border-radius: 10px;
    color:white;
    border: white solid 1px;
    padding: 4px 25px;
    font-size: 12px;
    
}

/*Footer*/

.footer{
    display: flex;
    
    align-items: center;
    justify-content: center;

}